<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TicketReservations" connectionString="Server=sqlpto;Database=InMemoryOLTP;Integrated Security=TRUE"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ThreadCount" value="50" />
    <add key="ReadsPerWrite" value="0" />
    <add key="RequestCount" value="100000" />
    <add key="RowCount" value="10" />
    <add key="TransactionCount" value="1" />
    <add key="WorkloadIndex" value="0" />
    <add key="MaxTps" value="100" />
    <add key="MaxLatchWaits" value="20000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>